@use '../abstracts' as *;

:root{
    --primary-unlit: #{setColor(teal, 900)};
    --primary-dark: #{setColor(teal, 700)};
    --primary: #{setColor(teal, 400)};
    --primary-light: #{setColor(teal, 100)};
    --primary-ghost: #{setColor(teal, 50)};

    --danger-unlit: #{setColor(red, 900)};
    --danger-dark: #{setColor(red, 700)};
    --danger: #{setColor(red, 400)};
    --danger-light: #{setColor(red, 100)};
    --danger-ghost: #{setColor(red, 50)};

    --background: #{setColor(white)};

    --gray-unlit: #{setColor(gray, 900)};
    --gray-dark: #{setColor(gray, 700)};
    --gray: #{setColor(gray, 400)};
    --gray-light: #{setColor(gray, 100)};
    --gray-ghost: #{setColor(gray, 50)};

    //CK editor
    --ck-color-image-caption-background: hsl(0, 0%, 97%);
    --ck-color-image-caption-text: hsl(0, 0%, 20%);
    --ck-color-mention-background: hsla(341, 100%, 30%, 0.1);
    --ck-color-mention-text: hsl(341, 100%, 30%);
    --ck-color-table-caption-background: hsl(0, 0%, 97%);
    --ck-color-table-caption-text: hsl(0, 0%, 20%);
    --ck-highlight-marker-blue: hsl(201, 97%, 72%);
    --ck-highlight-marker-green: hsl(120, 93%, 68%);
    --ck-highlight-marker-pink: hsl(345, 96%, 73%);
    --ck-highlight-marker-yellow: hsl(60, 97%, 73%);
    --ck-highlight-pen-green: hsl(112, 100%, 27%);
    --ck-highlight-pen-red: hsl(0, 85%, 49%);
    --ck-image-style-spacing: 1.5em;
    --ck-inline-image-style-spacing: calc(var(--ck-image-style-spacing) / 2);
    --ck-todo-list-checkmark-size: 16px;
}
