@use '../abstracts' as *;

:root{
    --primary-unlit: #{setColor(teal, 900)};
    --primary-dark: #{setColor(teal, 700)};
    --primary: #{setColor(teal, 400)};
    --primary-light: #{setColor(teal, 100)};
    --primary-ghost: #{setColor(teal, 50)};

    --background: #{setColor(white)};
}
