@use '../abstracts' as *;
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body{
    font-family: Nunito, sans-serif;
}

a{
    --color-dark : var(--primary-dark);
    --color : var(--primary);

    &.danger{
        --color-dark: var(--danger-dark);
        --color: var(--danger);
    }

    &.light{
        --color-dark: var(--primary);
        --color: var(--primary-light);
    }

    &.gray{
        --color-dark: var(--gray-dark);
        --color: var(--gray);
    }

    text-decoration: none;
    color: var(--color-dark);
    &:visited, &:focus, &:active { color: var(--color-dark) }

    &:hover, &:hover i {
        color: var(--color)
    }
}

hr {
    background-color: black;
    @include margin-y(32px);
    height: 1px;
    width: 100%;
    border: 0;
}

h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}
::placeholder{
    color: rgba(142, 142, 142, 0.5);
}
