@use '../abstracts/mixins' as *;
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body{
    font-family: Nunito, sans-serif;
    color: black;
}

a{
    text-decoration: none;
    &:visited, &:hover, &:focus, &:active { color: black }
}

hr {
    background-color: black;
    @include margin-y(32px);
    height: 1px;
    width: 100%;

    border: 0;
}
