@use '../abstracts' as *;

input[type="submit"].btn, a.btn{
    display: inline-flex;
    padding: 5px;

    justify-content: center;
    align-items: center;

    min-width: 96px;
    min-height: 30px;

    border-radius: 4px;
    background-color: transparent;

    cursor: pointer;

    --border-size: 1px;

    &--bold{
        --border-size: 2px;
        font-weight: bold;
    }

    border: var(--border-size) solid var(--primary-dark);

    &, &:hover, &:visited{
        color: var(--primary-dark);
    }

    &:active{
        color: var(--primary);
        border: var(--border-size) solid var(--primary);
    }
}
