@use '../abstracts' as *;

input[type="submit"].btn, a.btn{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 125px;
    height: 30px;

    border-radius: 4px;
    background-color: transparent;

    cursor: pointer;

    &--primary{
        --color-dark: var(--primary-dark);
        --color-light: var(--primary-light);
    }

    --border-size: 1px;

    &--bold{
        --border-size: 2px;
        font-weight: bold;
    }

    border: var(--border-size) solid var(--color-dark);

    &, &:hover, &:visited{
        color: var(--color-dark);
    }

    &:active{
        color: var(--color-light);
        border: var(--border-size) solid var(--color-light);
    }
}

a.backBtn i{
    color: var(--primary-light);
    text-shadow: 2px 2px 6px rgba(0,0,0,0.2);
    &:hover{
        color: var(--primary-dark);
        text-shadow: 2px 2px 6px rgba(0,0,0,0.4);
    }
}
