@use '../abstracts' as *;

.custom-table{
    display: flex;
    flex-direction: column;

    @include margin-y(16px);

    & > *:nth-child(2n){
        background-color: rgba(200,200,200,0.1);
    }

    &__button{
        align-self: flex-end;
        i{
            font-size: 1.5em;
            margin-right: 5px;
        }
    }

    &__row, &__head{
        display: grid;
        grid-auto-flow: row;
        align-items: center;

        padding: 10px;
        grid-gap: 10px;
        @include separator('bottom');

        &:hover{
            background-color: var(--primary-ghost);
        }

        > div.actions {
            i{
                font-size: 1.5em;
                margin-right: 20px;
            }
        }

        @include respond-to('large'){
            grid-auto-flow: column;
            grid-auto-columns: 1fr;
            align-items: center;
        }
    }

    &__head{
        display: none;
        font-weight: bold;
        @include respond-to('large'){
            display: grid;
        }
    }

    .label{
        color: grey;
        margin-right: 20px;
        @include respond-to('large'){
            display: none;
        }
    }

}
