@use '../../abstracts' as *;

.generic-role{

    border: 1px solid var(--primary-light);
    border-radius: 10px;

    .head, .content{
        padding-left: 20px;
    }

    .head{
        font-weight: bold;
        border-radius: 10px 10px 0 0;

        @include separator('bottom');
    }
    .content{

    }

    .field{
        grid-template: 1fr /1fr 1fr;
    }

    &:hover{
        .head{
            background-color: var(--primary-ghost);
        }
    }
}
