@use '../../abstracts' as *;

.generic-table{
    display: flex;
    flex-direction: column;

    @include margin-y(16px);

    & > *:nth-child(2n):not(&__pagination){
        background-color: rgba(200,200,200,0.1);
    }

    &__button{
        i{
            font-size: 1.5em;
            margin-right: 5px;
        }
    }

    &__tools{
        display: grid;
        align-items: center;
        grid-template: 1fr 1fr / 1fr;
        grid-column-gap: 10px;
        form.search{
            display: flex;
            flex-direction: row;
            gap: 20px;
            input[type='submit']{
                align-self: inherit;
            }
            a{
                align-self: center;
            }
        }
        .buttons{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            gap: 12px;
            @include respond-to('large'){
                justify-content: flex-end;
            }
        }
        //.btn{
        //    grid-row-start: 1;
        //    justify-self: flex-end;
        //    @include respond-to('large'){
        //        grid-column-start: 2;
        //        grid-row-start: inherit;
        //        justify-self: flex-end;
        //
        //    }
        //}
        @include respond-to('large'){
            grid-template: 1fr / 1fr 1fr;
        }
    }


    &__row, &__head{
        display: grid;
        grid-auto-flow: row;
        align-items: center;

        padding: 10px;
        grid-gap: 10px;
        @include separator('bottom');

        &:not(&__pagination):hover{
            background-color: var(--primary-ghost);
        }

        > div.actions {
            i{
                font-size: 1.5em;
                margin-right: 20px;
            }
        }

        @include respond-to('large'){
            grid-auto-flow: column;
            grid-auto-columns: 1fr;
            align-items: center;
        }
    }

    &__head{
        display: none;
        font-weight: bold;
        @include respond-to('large'){
            display: grid;
        }
    }

    &__pagination{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @include margin-x(16px);
    }

    .label{
        @include respond-to('large'){
            display: none;
        }
    }

}
