@use '../../abstracts' as *;

#roles{
    form{
        .category-grid{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(192px,1fr));

            grid-gap: 10px;

            width: 100%;
        }
    }
}
