.multiselect {
    width: 200px;

    background-color: lightseagreen;
}

.selectBox {
    position: relative;

    select{
        width: 100%;
        font-weight: bold;
    }
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#checkboxes {
    display: none;
    border: 1px #dadada solid;

    label {
        display: block;
        &:hover{
            background-color: #1e90ff;
        }
    }

}
