@use '../abstracts' as *;

body#static {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr .125fr;

    header {
        position: fixed;

        z-index: 1;

        display: flex;
        flex-direction: column-reverse;
        align-items: center;

        width: 100%;

        input[type=checkbox]#dropdown {
            display: none;

            &:checked ~ nav {
                display: none;
            }

            &:not(:checked) ~ #dropdown__btn{
                transform: rotate(180deg);
            }
        }

        #dropdown__btn {
            display: block;
            margin-top: 4px;
            width: 20px;
            height: 20px;

            i{
                display: flex;
                width: 100%;
                height: 100%;

                justify-content: center;
                align-items: center;
            }
        }

        nav {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            width: 100%;
            min-height: 96px;
            @include padding-x(32px);

            @include separator('bottom');

            background-color: var(--background);

            ul {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(128px, 1fr));
                grid-template-rows: 1fr;

                width: 100%;
                padding: 0;

                text-align: center;

            }

        }

    }

    main{
        margin: 32px;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        padding: 32px;

        background-color: var(--background);

        @include separator(top);

        ul {
            $columns-max: 2;
            $gap: 20px;

            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: repeat(auto-fit, minmax(128px, calc(100% / #{$columns-max} - #{$gap*2})));

            width: 50%;


            grid-gap: $gap;
            padding: 0;
        }


    }

    main {
        background-color: var(--background);
    }


    // Desktop screen
    @include respond-to('large'){
        $height-nav: 96px;

        header {

            nav {
                display: flex !important;
                height: $height-nav;
                flex-direction: row;
            }

            #dropdown__btn {
                display: none;
            }

        }

        main {
            padding-top: $height-nav;
        }

    }

}
